html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #202020;
    overflow: hidden;
    cursor: url("cursor.png"), auto !important;
}

.header {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    text-transform: uppercase;
    color: white;
    z-index: 2;
    font-size: 2.5rem;
}

.container {
    position: absolute;
    width: 200%;
    height: 200vh;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 4em 0;
}

.block {
    width: 400px;
    height: 500px;
    background: grey;
    margin: 1em;
    filter: grayscale(1);
    opacity: 0.4;
    transition: 1s;
}

.block:hover {
    filter: grayscale(0);
    opacity: 1;
}

.block-1 {
    background: url("img1.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-2 {
    background: url("img2.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-3 {
    background: url("img3.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.block-4 {
    background: url("img4.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url("img5.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-6 {
    background: url("img6.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-7 {
    background: url("img7.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-8 {
    background: url("img8.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-9 {
    background: url("img9.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-10 {
    background: url("img10.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-11 {
    background: url("img11.jpeg") no-repeat 50% 50%;
    background-size: cover;
}

.block-12 {
    background: url("img12.JPG") no-repeat 50% 50%;
    background-size: cover;
}

.block-13 {
    background: url("img13.jpg") no-repeat 50% 50%;
    background-size: cover;
}


.block-14 {
    background: url("img14.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-15 {
    background: url("img15.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-16 {
    background: url("img16.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-17 {
    background: url("img17.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-18 {
    background: url("img18.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-19 {
    background: url("img19.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-20 {
    background: url("img20.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-21 {
    background: url("img21.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-22 {
    background: url("img22.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-23 {
    background: url("img23.jpg") no-repeat 50% 50%;
    background-size: cover;
}

.block-24 {
    background: url("img24.jpg") no-repeat 50% 50%;
    background-size: cover;
}
